<ul class="list-unstyled list-inline list-social-icons">
 <li>
   <a href="http://facebook.com/baddogrecs"><i class="fa fa-facebook fa-2x"></i></a>
 </li>
 <li>
   <a href="http://twitter.com/baddogrecs"><i class="fa fa-twitter fa-2x"></i></a>
 </li>
 <li>
   <a href="http://instagram.com/baddogrecs"><i class="fa fa-instagram fa-2x"></i></a>
 </li>
 <li>
   <a href="#"><i class="fa fa-spotify fa-2x"></i></a>
 </li>
 <li>
   <a href="#"><i class="fa fa-soundcloud fa-2x"></i></a>
 </li>
</ul>
