<ul class="list-unstyled list-inline list-social-icons">
 <li>
   <a href="http://facebook.com/baddogrecs" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
 </li>
 <li>
   <a href="http://twitter.com/baddogrecs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
 </li>
 <li>
   <a href="http://instagram.com/baddogrecs" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
 </li>
 <li>
   <a href="https://www.youtube.com/channel/UCA5qrwJpKrdZfUw_D65J-0g" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
 </li>
 <li>
   <a href="https://open.spotify.com/user/baddogrecs" target="_blank"><i class="fa fa-spotify fa-2x"></i></a>
 </li>
 <li>
   <a href="https://soundcloud.com/baddogrecs" target="_blank"><i class="fa fa-soundcloud fa-2x"></i></a>
 </li>
</ul>
